html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.privacy {
    text-align: justify;
    line-height: 2.2;
}

.w-55 {
    width: 55% !important;
}

.cor {
    color: #855d12;
    text-decoration: underline;
    text-decoration-color: #855d12;
}

.tabela-reservas {
    background-color: #ffe8cd;
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
}

    .tabela-reservas thead {
        background-color: #af5700;
        color: white;
    }

    .tabela-reservas tbody tr:nth-child(even) {
        background-color: #ffd19b;
    }

    .tabela-reservas tbody tr:nth-child(odd) {
        background-color: #ffba6a;
    }

    .tabela-reservas td, .tabela-reservas th {
        border: 1px solid #af5700;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
    }

    .tabela-reservas i.fa-file {
        margin-right: 6px;
        color: rgba(0, 0, 0, 0.4);
    }

.btn-secondary {
    background-color: #6c757d; /* cinza neutro */
    border: none;
    padding: 5px 10px;
    margin-right: 10px; /* Espaço entre os botões */
}

    .btn-secondary:hover {
        background-color: #5a6268;
    }
